@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<div class="jumbotron">
  <h2>Edit Treat: @Html.DisplayFor(model => Model.Name)</h2>
</div>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => Model.TreatId)

  @Html.LabelFor(model => Model.Name)
  @Html.EditorFor(model => Model.Name)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-primary" />
}

<p class="btn btn-default">@Html.ActionLink("Back to Treats", "Index")</p>